<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.androidtest"
	android:versionCode="1"
	android:versionName="1.0.0">
	
	<uses-sdk android:minSdkVersion="10" />
	<uses-sdk android:targetSdkVersion="20" /> 
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:label="Test Android App"
		android:icon="@drawable/icon">

		<activity
			android:name=".TestActivity"
			android:label="Test Android App">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest> 
